package {{packageName}};


public final class {{className}} {


  public String getName() {
    return "{{name}}";
 }

 public Object getValue({{entity}} object) {
    return object.{{getName}}();
}

public void setValue({{entity}} object, Object value) {
    object.{{setName}}(({{entity}})value);
}


}