package {{packageName}};

import org.soujava.example.model.FieldMetadata;

public final class {{className}} implements FieldMetadata {


  @Override
   public boolean isId() {
    return {{id}};
  }

  @Override
  public String getName() {
    return "{{name}}";
  }

   @Override
  public String getFieldName() {
    return "{{fieldName}}";
  }

   @Override
   public void write(Object bean, Object value) {
       (({{entity}}) bean).{{writer}}(({{type}})value);
   }

   @Override
   public Object getValue(Object bean) {
      return (({{entity}}) bean).{{reader}}();
    }


  @Override
  public Class<?> getType()  {
    return {{type}}.class;
  }
}