package {{packageName}};


public final class {{className}} {


  public String getName() {
    return "{{name}}";
 }

 public Object getValue({{entity}} object) {
    return object.{{reader}}();
}

public void setValue({{entity}} object, Object value) {
    object.{{writer}}(({{type}})value);
}


}