package {{packageName}};


public final class {{targetClassName}} {

  private {{targetClassName}}() {
  }


  public static {{sourceClassName}} newInstance() {
    return new {{sourceClassName}}();
  }

}